In [1]:
import os
import pandas as pd

In [2]:
traffic_data = pd.read_csv('./data/ga_statewide_2020_04_01.csv')
traffic_df = pd.DataFrame(traffic_data)
traffic_df.head()

,raw_row_number,date,time,location,lat,lng,county_name,subject_race,subject_sex,officer_id_hash,department_name,type,violation,outcome,vehicle_color,vehicle_make,vehicle_model,vehicle_year,raw_race
0,216687,2012-01-01,00:01:37,NaN,31.695772,-81.778768,Long County,NaN,female,1e3b1f29f7,GEORGIA DEPARTMENT OF PUBLIC SAFETY,vehicular,FaultyHeadlights,warning,BLK,SAA,NaN,2006.0,NaN
1,231398,2012-01-01,00:02:11,"SR31 MM32, DUBLIN",32.576963,-82.838132,Laurens County,white,female,b37fb45957,GEORGIA DEPARTMENT OF PUBLIC SAFETY,vehicular,WarningNoTagLight,warning,GRY,PONTIAC,G6 SE1,2006.0,White
2,220253,2012-01-01,00:02:19,"SR138/EAST FAIRVIEW RD/VTEB, CONYERS",33.606028,-84.095155,Rockdale County,NaN,female,29531c329b,GEORGIA DEPARTMENT OF PUBLIC SAFETY,vehicular,WarningDisobeyedTrafficSignal,warning,BLU,SATURN,AURA XE,2007.0,NaN
3,228956|228957,2012-01-01,00:03:00,NaN,33.352735,-84.768408,Coweta County,NaN,female,0f77832a9c,GEORGIA DEPARTMENT OF PUBLIC SAFETY,vehicular,FaultyHeadlights|WarningOtherViolations,warning,MAR,MITSUBISHI,GALANT ES/LS (,2003.0,NaN
4,219988,2012-01-01,00:06:53,NaN,33.411521,-84.782856,Coweta County,NaN,NaN,d63aca0ce2,GEORGIA DEPARTMENT OF PUBLIC SAFETY,vehicular,WarningNoTagLight,warning,WHI,FORD,SRW SUPER DUTY,2003.0,NaN

In [3]:
drop_df = traffic_df.drop(columns = ['raw_row_number','location','officer_id_hash','department_name','type','raw_race'])

In [4]:
traffic_2016 = drop_df.loc[drop_df['date'] >= '2016-01-01'].dropna()

In [5]:
len(traffic_2016)

166383

In [6]:
violations = traffic_2016.violation
violation_count = []
for violation in violations:
    count = violation.count('|') + 1
    violation_count.append(count)

len(violation_count)

166383

In [25]:
traffic_2016['violation_count'] = violation_count
traffic_2016.reset_index(drop = True)

,date,time,lat,lng,county_name,subject_race,subject_sex,violation,outcome,vehicle_color,vehicle_make,vehicle_model,vehicle_year,violation_count
0,2016-01-01,00:00:00,33.754498,-84.989540,Carroll County,white,female,FAILTOMAINTAINLANE,warning,WHI,MAZDA,CX-9,2010.0,1
1,2016-01-01,00:00:00,31.503526,-82.832431,Coffee County,black,female,FAILTOMAINTAINLANE|WARNINGOTHERVIOLATIONS|FAIL...,warning,GRY,DODGE,DURANGO,2000.0,4
2,2016-01-01,00:00:00,31.429654,-83.515470,Tift County,white,female,WARNINGTOOFASTFORCONDITIONS,warning,BLU,JEEP,LIBERTY SPORT,2005.0,1
3,2016-01-01,00:00:28,33.454448,-81.988846,Richmond County,black,male,WARNINGHEADLIGHTS,warning,WHI,HYUNDAI,SONATA GLS,2008.0,1
4,2016-01-01,00:01:50,34.086952,-84.527434,Cherokee County,black,male,WARNING EXPIRED TAG,warning,SIL,TOYOTA,CAMRY NEW GEN,2007.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166378,2016-12-31,23:45:46,31.373818,-81.419878,Mcintosh County,white,female,OBSCUREDTAG,warning,SIL,CHRYSLER,SEBRING LIMITE,2008.0,1
166379,2016-12-31,23:51:00,34.925521,-85.072022,Catoosa County,white,female,FAILTOMAINTAINLANE|WARNING EXPIRED TAG|WARNING...,warning,BLU,NISS,S18,2006.0,3
166380,2016-12-31,23:53:35,33.854397,-84.359842,Fulton County,white,male,WARNINGDISOBEYEDTRAFFICSIGNAL,warning,WHI,VOLVO,S40 2.4I,2007.0,1
166381,2016-12-31,23:54:57,34.420088,-83.166941,Hart County,white,female,WARNINGEXCEEDEDSPEEDLIMIT,warning,UNK,NISSAN,MAXIMA S/SV,2011.0,1
166382,2016-12-31,23:59:26,31.368595,-81.435422,Mcintosh County,black,male,FAULTYNOBRAKELIGHT|FAULTYTAILLIGHTS,warning,BLU,LINCOLN,TOWN CAR EXECU,1997.0,2

In [26]:
import os
traffic_2016.to_csv(os.path.join('.','data','traffic_stops_2016.csv'),index=False)

In [29]:
from sqlalchemy import create_engine
import psycopg2 
import io
connection_string = 'postgres://dkckrqblbuejjw:b51876501e6a35b8c6a9bf0555f970110a5aae9a34435d05e53f37c4be7d55c2@ec2-34-194-198-238.compute-1.amazonaws.com:5432/dm8glg0qkh59t'
engine = create_engine(connection_string)

In [31]:
# pandas to_sql was taking hours so checked stackoverflow for help
# the following code can push the data to postgres in under a minute

traffic_2016.head(0).to_sql('traffic_2016', engine, if_exists='replace',index=False) #drops old table and creates new empty table

conn = engine.raw_connection()
cur = conn.cursor()
output = io.StringIO()
traffic_2016.to_csv(output, sep='\t', header=False, index=False)
output.seek(0)
contents = output.getvalue()
cur.copy_from(output, 'traffic_2016', null="") # null values become ''
conn.commit()

In [32]:
#traffic_2016.to_sql(name='traffic_stops', con=engine, if_exists='append', index=False, chunksize=10000)