In [1]:
#Dependencies and Setup
import pandas as pd
import numpy as np

In [3]:
#File to Load
data = "../data/traffic_stops_2016.csv"

#Read Data and store into Pandas DataFrames
violation_data = pd.read_csv(data)

In [4]:
violation_data

,Unnamed: 0,date,time,lat,lng,county_name,subject_race,subject_sex,violation,outcome,vehicle_color,vehicle_make,vehicle_model,vehicle_year,violation_count
0,1568004,2016-01-01,00:00:00,33.754498,-84.989540,Carroll County,white,female,FAILTOMAINTAINLANE,warning,WHI,MAZDA,CX-9,2010.0,1
1,1568005,2016-01-01,00:00:00,31.503526,-82.832431,Coffee County,black,female,FAILTOMAINTAINLANE|WARNINGOTHERVIOLATIONS|FAIL...,warning,GRY,DODGE,DURANGO,2000.0,4
2,1568006,2016-01-01,00:00:00,31.429654,-83.515470,Tift County,white,female,WARNINGTOOFASTFORCONDITIONS,warning,BLU,JEEP,LIBERTY SPORT,2005.0,1
3,1568007,2016-01-01,00:00:28,33.454448,-81.988846,Richmond County,black,male,WARNINGHEADLIGHTS,warning,WHI,HYUNDAI,SONATA GLS,2008.0,1
4,1568008,2016-01-01,00:01:50,34.086952,-84.527434,Cherokee County,black,male,WARNING EXPIRED TAG,warning,SIL,TOYOTA,CAMRY NEW GEN,2007.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166378,1906760,2016-12-31,23:45:46,31.373818,-81.419878,Mcintosh County,white,female,OBSCUREDTAG,warning,SIL,CHRYSLER,SEBRING LIMITE,2008.0,1
166379,1906763,2016-12-31,23:51:00,34.925521,-85.072022,Catoosa County,white,female,FAILTOMAINTAINLANE|WARNING EXPIRED TAG|WARNING...,warning,BLU,NISS,S18,2006.0,3
166380,1906766,2016-12-31,23:53:35,33.854397,-84.359842,Fulton County,white,male,WARNINGDISOBEYEDTRAFFICSIGNAL,warning,WHI,VOLVO,S40 2.4I,2007.0,1
166381,1906768,2016-12-31,23:54:57,34.420088,-83.166941,Hart County,white,female,WARNINGEXCEEDEDSPEEDLIMIT,warning,UNK,NISSAN,MAXIMA S/SV,2011.0,1
166382,1906771,2016-12-31,23:59:26,31.368595,-81.435422,Mcintosh County,black,male,FAULTYNOBRAKELIGHT|FAULTYTAILLIGHTS,warning,BLU,LINCOLN,TOWN CAR EXECU,1997.0,2

In [8]:
#Creating the violation df
car_df = violation_data[['vehicle_color', 'vehicle_make', 'vehicle_model', 'vehicle_year', 'violation']]

In [9]:
#Spliting the violations into own rows 
final_df = car_df.drop('violation', axis=1).join(car_df['violation'].str.split('|', expand=True).stack().reset_index(level=1, drop=True).rename('violation'))

In [10]:
#Removing the decimal in year
final_df['vehicle_year'] = final_df['vehicle_year'].map("{:.0f}".format)
final_df

,vehicle_color,vehicle_make,vehicle_model,vehicle_year,violation
0,WHI,MAZDA,CX-9,2010,FAILTOMAINTAINLANE
1,GRY,DODGE,DURANGO,2000,FAILTOMAINTAINLANE
1,GRY,DODGE,DURANGO,2000,WARNINGOTHERVIOLATIONS
1,GRY,DODGE,DURANGO,2000,FAILTOMAINTAINLANE
1,GRY,DODGE,DURANGO,2000,WARNINGOTHERVIOLATIONS
...,...,...,...,...,...
166379,BLU,NISS,S18,2006,WARNINGTOOFASTFORCONDITIONS
166380,WHI,VOLVO,S40 2.4I,2007,WARNINGDISOBEYEDTRAFFICSIGNAL
166381,UNK,NISSAN,MAXIMA S/SV,2011,WARNINGEXCEEDEDSPEEDLIMIT
166382,BLU,LINCOLN,TOWN CAR EXECU,1997,FAULTYNOBRAKELIGHT
166382,BLU,LINCOLN,TOWN CAR EXECU,1997,FAULTYTAILLIGHTS

In [11]:
final_df.to_csv('d3_data.csv', index=False)